$color-one: #2c3e50;
$color-two: #ecf0f1;
$color-three: #e67e22;
$color-four: #d35400;
$color-five: #16a085;
/*Global*/
*, *::after, *::before{
    box-sizing: border-box
}

body{
    font-family: 'Press Start 2P', cursive;
    background-color: $color-one;
}
.container{
    max-width: 50%;
    margin: 0 auto;
}
/*header*/
h1{
    text-align: center;
    font-size: 2.5rem;
    letter-spacing: 2px;
    color: $color-two;
}
/*main*/


/*score board*/
.score-board{
    max-width: 420px;
    height: 350px;
    margin: 0 auto;
    position: relative;
    border: 5px solid $color-three;
    background: $color-two;
}
.badge{
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    text-align: center;
    border: 5px solid $color-two;
    background-color: $color-three;
    padding: 0.2em 0.4em;
}

.badge-l{
    left: -45px;
}

.badge-r{
   right: -90px;
}

.score{
    font-size: 1.5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/*choices*/
.choices{
    display: flex;
    justify-content: center;
}
.choice{
    display: inline-block;
    margin: 30px;
    i{
        font-size: 48px;
        width: 90px;
        height: 90px;
        line-height: 90px;
        text-align: center;
        border: 4px solid;
        border-radius: 50%;
        color: $color-two;
        background-color: $color-three;
        &:hover{
            background-color: $color-four;
        }
        &:active{
            color: $color-five;
        }
    }
}
/*messages*/
.messages{
    text-align: center;
    height: 120px;
    border: 5px solid $color-two;
    background-color: $color-three;
    padding: 20px 0 0 0;
    p{
        font-size: 1.5rem;
    }
}
